@model ServicioGnc.Models.LecturaPresionTemperatura
@{
    ViewBag.Title = "PresionOk";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
    Presión por encima de los valores permitidos
</div>

<img src="~/Images/barometer (1).png" class="center-block" style="width: 250px; height: 250px;" />

<div>
    <b> Presión:      @ViewBag.Presion</b>
</div>
<div>
    <b>   Temperatura : @ViewBag.Temperatura</b>
</div>

<div class="center-block">
    @Html.ActionLink("Volver al listado", "Index")
</div>