@model ServicioGnc.Models.Cliente

@{
    ViewBag.Title = "Cliente";
}



<div class="panel panel-warning">
    <div class="panel-heading">
        <h2 class="panel-title">Detalle de Producto</h2>
    </div>
    <div class="panel-body">
        <div class="col-md-3">
            <div>    Nombre: @Html.DisplayFor(model => model.Nombre) </div>
            <div>    Domicilio: @Html.DisplayFor(model => model.Domicilio)</div>
            <br />
            <div>
                @Html.ActionLink("Editar", "Edit", new { id = Model.ClienteId }) |
                @Html.ActionLink("Volver al listado", "Index")
            </div>
        </div>
    </div>
</div>

