@{
    ViewBag.Title = "Create";
}

<h2>Proceso Guardado Exitosamente</h2>
<div>
    @Html.ActionLink("Volver al listado", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
