@{
    ViewBag.Title = "AgregarDetalle";
    Layout = null;
}

@{
    List<ServicioGnc.Models.Carro> listCarro = ViewBag.ListCarro;
    

    <table>
        <tr>
            <td>Nombre Producto</td>
            <td>Cantidad</td>
        </tr>
        @foreach(ServicioGnc.Models.Carro carro in listCarro){
            <tr>
                
                <td>@carro.Producto.Nombre</td>
                
                <td>@carro.Cantidad</td>
            </tr>
        }
    </table>
    
    
}