@model ServicioGnc.Models.Persona

Seleccione Empleado
<div class="editor-label">
    @Html.LabelFor(model => model.PersonaId, "Persona")
</div>
<div class="editor-field" id="personaid">
    @Html.DropDownList("PersonaId", String.Empty)
    @Html.ValidationMessageFor(model => model.PersonaId)
</div>
