@model ServicioGnc.Models.Turno

@{
    ViewBag.Title = "Delete";
}

<div class="alert alert-warning" role="alert">
    <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>
    Realmente deseas eliminar este turno?
</div>
<fieldset>
    <legend>Turno</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Eliminar" /> |
        @Html.ActionLink("Volver al listado", "Index")
    </p>
}
