@model ServicioGnc.Models.TipoConcepto

@{
    ViewBag.Title = "Tipo de Concepto";
}

<h2>Detalle</h2>

<fieldset>
    <legend>Tipo Concepto</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id=Model.TipoConceptoId }) |
    @Html.ActionLink("Volver al listado", "Index")
</p>
